body {
    text-align: center;
    background-color: aqua;
}

#logo {
    width: 500px;
    height: 500px;
}

#marvel {
    width: 300px;
    height: 300px;
}

#mycarousel {
    background-color: aqua;
}

.marvel {
    display: inline
}

#my carousel img {
    height: 300px;
    margin-top: 25px;
}

.carousel-inner {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
}
